<!-- footer Section -->
<footer id="footer" class="relative">
  <div class="container flex flex-1 gap-6 my-12 items-center justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-8">
      <!-- Contact -->
      <div class="row-start-1">
        <p
          class="flex mb-6 py-2 text-base font-medium text-dark hover:text-primary lg:inline-flex text-3xl"
        >
          INDIAN MASTIFF REGISTRY
        </p>
        <p class="mb-4 text-lg font-semibold text-dark">Office</p>
        <p class="mb-7 text-base text-body-color">
          Prabuddha Agriculture ltd.<br />
          Mangalwar peth, Phaltan<br />
          D-Satara 415523 Maharashtra<br />
          Contact: 9975517222<br />

          <span class="text-primary mt-0">prabuddha.group@oksbi</span>
        </p>
      </div>
      <!-- Founder, Chairman -->
      <div class="sm:row-start-2 lg:row-start-1">
        <h4 class="mb-4 text-lg font-semibold text-dark">Founder, Chairman</h4>
        <ul>
          <li
            class="mb-2 inline-block text-base leading-loose text-body-color hover:text-primary"
          >
            Siddhartha Datta Ahiwale
          </li>
        </ul>
      </div>
      <!-- Core Members -->
      <div class="sm:row-start-2 lg:row-start-1">
        <h4 class="mb-4 text-lg font-semibold text-dark">Core Members</h4>
        <ul>
            <% {['Director : Shilraj Kolhe',
                 'R&amp;D: Adinath Ghadage',
                 'IT : Harshdeep Lagad',
                 'Library: Akshay Salve',
                 'Relations: Kunal Malke',
                 'Social Media: Pruthvi Sanjay'].map((title) => { %>
                <li>
                    <a
                     href="javascript:void(0)"
                     class="inline-block text-base leading-loose text-body-color hover:text-primary"
                    >
                     <%= title %> 
                    </a>
                </li>
            <% })} %> 
        </ul>
      </div>
      <!-- Honorary Members -->
      <div class="sm:row-start-3 lg:row-start-1">
        <h4 class="mb-4 text-lg font-semibold text-dark">
          Honorary Member of Board
        </h4>
        <ul>
            <% {['Karanvir Singh, Punjab',
                 'Manu Bishnoi, Haryana',
                 'Pradeep Dahiya, Haryana',
                 'Amit Khangwal, Haryana',
                 'Sonu Latiwal, Haryana',
                 'Sachin Gulia, Haryana',
                 'Dr Amardeep Sambherwal',
                 'Aadesh Kotecha, Jalana',
                 'Akshay Pawar, Pune'].map((title) => { %>
                <li>
                    <a
                     href="javascript:void(0)"
                     class="inline-block text-base leading-loose text-body-color hover:text-primary"
                    >
                     <%= title %> 
                    </a>
                </li>
            <% })} %> 
        </ul>
      </div>
      <!-- Social Media -->
      <div class="sm:row-start-3 lg:row-start-1">
        <h4 class="mb-9 text-lg font-semibold text-dark">Follow Us On</h4>
        <div class="mb-6 flex items-center">
            <a href="https://www.facebook.com/alangu.bohli" class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] text-dark hover:border-primary hover:bg-primary hover:text-white sm:mr-4 lg:mr-3 xl:mr-4" target="_blank">
              <i class='bx bxl-facebook'></i>
            </a>
            <a href="https://wa.me/+919975517222" class="mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] text-dark hover:border-primary hover:bg-primary hover:text-white sm:mr-4 lg:mr-3 xl:mr-4" target="_blank">
              <i class='bx bxl-whatsapp'></i>
            </a>
        </div>
    </div>
    </div>
  </div>
  <!-- Background Circle Designs -->
  <div>
        <span class="absolute left-0 bottom-0 z-[1]">
            <svg width="217" height="229" viewBox="0 0 217 229" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-64 140.5C-64 62.904 -1.096 1.90666e-05 76.5 1.22829e-05C154.096 5.49924e-06 217 62.904 217 140.5C217 218.096 154.096 281 76.5 281C-1.09598 281 -64 218.096 -64 140.5Z" fill="url(#paint0_linear_1179_5)" />
                <defs>
                    <linearGradient id="paint0_linear_1179_5" x1="76.5" y1="281" x2="76.5" y2="1.22829e-05" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3056D3" stop-opacity="0.08" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
        </span>
        <span class="absolute top-4 right-10 z-[-1]">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.5 -1.63918e-06C58.2107 -2.54447e-06 75 16.7893 75 37.5C75 58.2107 58.2107 75 37.5 75C16.7893 75 -7.33885e-07 58.2107 -1.63918e-06 37.5C-2.54447e-06 16.7893 16.7893 -7.33885e-07 37.5 -1.63918e-06Z" fill="url(#paint0_linear_1179_4)" />
                <defs>
                    <linearGradient id="paint0_linear_1179_4" x1="-1.63917e-06" y1="37.5" x2="75" y2="37.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#13C296" stop-opacity="0.31" />
                        <stop offset="1" stop-color="#C4C4C4" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>
        </span>
    </div>
  <!-- Copyright Section -->
  <div class="flex p-6 bg-gray-200 justify-around">
            <div>
                <span>© 2022-23 Copyright:</span>
                <span class="text-gray-600 font-semibold" >Indianmastiff</span>
            </div>
            <div>
                <span>Designed & Developed By:</span>
                <a class="text-gray-600 font-semibold" href="https://stackzeal.com">Stackzeal Pvt ltd</a>
            </div>
        </div>
</footer>
