<!-- Hero -->

<div
  class="container flex flex-col-reverse md:flex-col lg:flex-row items-center gap-12 mt-6 lg:mt-10"
>
  <!-- Content -->
  <div
    class="flex flex-1 flex-col-reverse md:flex-col items-center md:items-start md:mr-auto md:ml-0"
  >
    <div class="text-center md:text-left">
      <h1
        class="text-dark text-4xl font-bold leading-snug mb-3 sm:text-[42px] lg:text-[40px] xl:text-[42px]"
      >
        Single dog<br />
        Litter / puppy<br />
        Change Owner<br />
        Breeder Kennel <br />
      </h1>
      <p class="text-base text-3xl text-body-color max-w-[480px] mb-8">
        Reviving the legacy <br />
        of Indian Mastiff Dog
      </p>
    </div>
    <div class="text-center md:text-left">
      <p
        class="text-base text-body-color text-light max-w-[480px] md:max-w-[310px] mb-12"
      >
        We are nonprofit organization devoted to health, welfare and training of
        Indian Mastiff dog; Registered with<br />
        UDYAM-MH-30-0022485 Government of India.
      </p>
      <ul
        class="flex flex-wrap gap-2 items-center justify-around md:justify-start my-10"
      >
        <li>
          <a
            href="https://indianmastiff.org/request/register"
            class="items-center justify-center rounded-lg bg-primary py-4 px-10 text-center text-base font-normal text-white hover:bg-opacity-90"
          >
            Register
          </a>
        </li>
        <li class="">
          <a
            href="https://indianmastiff.org/locate"
            class="items-center justify-center rounded-lg bg-secondary py-4 px-12 text-center text-base font-normal text-white hover:bg-opacity-90"
          >
            Verify
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Image -->
  <div class="flex flex-1 justify-end md:ml-auto md:mr-0">
    <div class="relative">
      <img
        src="https://via.placeholder.com/400"
        alt="placeholder-img"
        class="rounded-3xl"
      />
      <!-- Dots Design -->
      <span class="absolute -left-8 -bottom-8 z-[-1]">
        <svg
          width="93"
          height="93"
          viewBox="0 0 93 93"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="2.5" cy="2.5" r="2.5" fill="#3056D3" />
          <circle cx="2.5" cy="24.5" r="2.5" fill="#3056D3" />
          <circle cx="2.5" cy="46.5" r="2.5" fill="#3056D3" />
          <circle cx="2.5" cy="68.5" r="2.5" fill="#3056D3" />
          <circle cx="2.5" cy="90.5" r="2.5" fill="#3056D3" />
          <circle cx="24.5" cy="2.5" r="2.5" fill="#3056D3" />
          <circle cx="24.5" cy="24.5" r="2.5" fill="#3056D3" />
          <circle cx="24.5" cy="46.5" r="2.5" fill="#3056D3" />
          <circle cx="24.5" cy="68.5" r="2.5" fill="#3056D3" />
          <circle cx="24.5" cy="90.5" r="2.5" fill="#3056D3" />
          <circle cx="46.5" cy="2.5" r="2.5" fill="#3056D3" />
          <circle cx="46.5" cy="24.5" r="2.5" fill="#3056D3" />
          <circle cx="46.5" cy="46.5" r="2.5" fill="#3056D3" />
          <circle cx="46.5" cy="68.5" r="2.5" fill="#3056D3" />
          <circle cx="46.5" cy="90.5" r="2.5" fill="#3056D3" />
          <circle cx="68.5" cy="2.5" r="2.5" fill="#3056D3" />
          <circle cx="68.5" cy="24.5" r="2.5" fill="#3056D3" />
          <circle cx="68.5" cy="46.5" r="2.5" fill="#3056D3" />
          <circle cx="68.5" cy="68.5" r="2.5" fill="#3056D3" />
          <circle cx="68.5" cy="90.5" r="2.5" fill="#3056D3" />
          <circle cx="90.5" cy="2.5" r="2.5" fill="#3056D3" />
          <circle cx="90.5" cy="24.5" r="2.5" fill="#3056D3" />
          <circle cx="90.5" cy="46.5" r="2.5" fill="#3056D3" />
          <circle cx="90.5" cy="68.5" r="2.5" fill="#3056D3" />
          <circle cx="90.5" cy="90.5" r="2.5" fill="#3056D3" />
        </svg>
      </span>
    </div>
  </div>
</div>
